.form {
  gap: 3.2em;
  @media screen and (max-width: 768px) {
    margin-bottom: 3em;
  }
}
.formsection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10em;

  .questionform {
    box-sizing: border-box;
    margin: 1em 0 0 0;

    .contactmebutton {
      position: relative;
      margin-top: 25%;
    }
  }
}
