.footercontainer {
  height: 60px;
  background: var(--nextui-colors-background);
  border-radius: var(--nextui-radii-sm);
  box-shadow: var(--nextui-shadows-xl);
  display: flex;
  align-items: center;
}
