.heroSection {
  height: 100vh;
  display: grid;
  grid-template-rows: auto;
  // position: relative;

  .content {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    justify-content: center;
    align-items: center;
  }

  .textHI {
    letter-spacing: 0.25em;
    font-size: large;
  }
  .anime {
    max-width: 100%;
    font-weight: bold;
    display: inline;
    margin-left: 1rem;
    align-items: center;
    letter-spacing: 0.15em;
    font-size: x-large;
    background: #9c70cf;
    background: -webkit-linear-gradient(to right, #9c70cf 20%, #c465cf 80%);
    background: -moz-linear-gradient(to right, #9c70cf 20%, #c465cf 80%);
    background: linear-gradient(to right, #9c70cf 20%, #c465cf 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .languageSection {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    line-height: 1em;
  }

  .__vertical_email1 {
    position: fixed;
    margin: 0px auto;
    padding: 0px;
    bottom: 8rem;
    right: 1.5rem;
    text-align: left;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 0.2rem;
    writing-mode: vertical-rl;
    // &:after {
    //   content: "";
    //   display: block;
    //   width: 1px;
    //   margin: 0px auto;
    //   height: 90px;
    //   background-color: var(--nextui-colors-text);
    // }
  }

  .__vertical_email2 {
    position: fixed;
    margin: 0;
    bottom: 7rem;
    left: 1.5rem;
    padding: 0;
    writing-mode: horizontal-tb;

    .__vertical_email2::after {
      content: "";
      width: 1px;
      height: 2rem;
      background: palegreen;
    }
  }
}
@media (max-width: 640px) {
  .__vertical_email1,
  .__vertical_email2 {
    display: none;
  }
}
@media (max-height: 768px) {
  .languageSection {
    bottom: 4em !important;
  }
}
