.background2,
.background3 {
  height: 100vh;
  width: 60vw;
  background: var(--nextui-colors-gradient);
  opacity: 0.12;
  position: fixed;
  border-radius: 50%;
  backdrop-filter: blur(500px);
  z-index: 0;
}

.background2 {
  right: -30vw;
  top: 5vw;
  background: linear-gradient(
    15deg,
    var(--nextui-colors-blue500) 0.1%,
    var(--nextui-colors-purple500) 20%,
    var(--nextui-colors-background)
  );
}

.background3 {
  height: 80vh;
  width: 50vw;
  left: -25vw;
  top: -35vh;
  background: linear-gradient(
    180deg,
    var(--nextui-colors-blue500) 30%,
    var(--nextui-colors-purple500) 50%,
    var(--nextui-colors-background)
  );
}
