.nav {
  padding: 0.5rem 2rem;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: var(--nextui-zIndices-max);
  transition: transform 0.35s ease-in-out;
  top: 0;
  border-radius: var(--nextui-radii-sm);
  box-shadow: var(--nextui-shadows-sm);
  margin: 1em 0 0 0;
  backdrop-filter: saturate(180%) blur(5px);

  @media screen and (max-width: 768px) {
    margin: 0;
  }

  .left_section {
    display: flex;
    align-items: center;

    .hamburgerMenu {
      display: flex;
      flex-direction: column;
      gap: 4px;
      cursor: pointer;

      @media screen and (min-width: 768px) {
        display: none;
      }

      .આડોલીટો {
        height: 4px;
        width: 30px;
        background-color: var(--nextui-colors-primary);
      }
    }
    .avatar {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  .navbarRightSection {
    gap: 1rem;
    right: 0;
    justify-content: flex-end;

    .languageselectionarea {
      align-items: center;
    }

    .navLinksSection {
      gap: 2rem;

      .Nav_items {
        font-weight: 500;
        letter-spacing: 0.15rem;
      }
    }
  }

  &.navHidden {
    transform: translateY(-150%);

    @media screen and (max-width: 768px) {
      transform: translateY(-100%);
    }
  }
}

.sideNav {
  flex-direction: column;
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
  width: 75vw;
  z-index: var(--nextui-zIndices-max);
  left: 0;
  height: 100vh;
  backdrop-filter: saturate(180%) blur(50px);
  border-top-right-radius: var(--nextui-radii-lg);
  border-bottom-right-radius: var(--nextui-radii-lg);
  justify-content: center;
  align-items: center;
  gap: 2em;

  &.sideNavOpen {
    transform: translateX(0);
  }
  .sidenavitems {
    font-weight: 500;
    letter-spacing: 0.15rem;
    font-size: 30px;
  }
}

// .background1 {
//   position: absolute;
//   z-index: var(--nextui-zIndices-1);
//   bottom: -50%;
//   left: -10%;
//   right: -50%;
//   animation: 200ms ease 100ms 1 normal forwards running;
// }
// .background2 {
//   display: none;
//   top: 0px;
//   z-index: var(--nextui-zIndices-1);
//   position: absolute;
//   animation: 200ms ease 100ms 1 normal forwards running;
// }

@media (max-width: 768px) {
  .nav {
    .navbarRightSection {
      .navLinksSection {
        display: none;
      }
    }
  }
}
