.nav {
  padding: 0.5rem 2rem;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: var(--nextui-zIndices-max);
  transition: transform 0.35s ease-in-out;
  top: 0;
  border-radius: var(--nextui-radii-sm);
  box-shadow: var(--nextui-shadows-sm);
  margin: 1em 0 0 0;
  backdrop-filter: saturate(180%) blur(5px);

  @media screen and (max-width: 768px) {
    margin: 0;
  }

  .navbarRightSection {
    gap: 1rem;
    right: 0;
    justify-content: flex-end;

    .languageselectionarea {
      align-items: center;
    }

    .navLinksSection {
      gap: 2rem;

      .Nav_items {
        font-weight: 500;
        letter-spacing: 0.15rem;
      }
    }
  }

  &.navHidden {
    transform: translateY(-150%);

    @media screen and (max-width: 768px) {
      transform: translateY(-100%);
    }
  }
}

.background1 {
  position: absolute;
  z-index: var(--nextui-zIndices-1);
  bottom: -50%;
  left: -10%;
  right: -50%;
  animation: 200ms ease 100ms 1 normal forwards running;
}
.background2 {
  // display: none;
  top: 0px;
  z-index: var(--nextui-zIndices-1);
  position: absolute;
  animation: 200ms ease 100ms 1 normal forwards running;
}

@media (max-width: 768px) {
  .nav {
    .navbarRightSection {
      .navLinksSection {
        display: none;
      }
    }
  }
}
