.quote {
  transition: opacity ease-in-out 1.5s;

  .fadeintext {
    transition: opacity ease-in-out 1.5s;
    opacity: 1;
    .blockquoteFont {
      font-size: clamp(0.5rem, -0.875rem + 8.333vw, 1.5rem);
    }
  }
  .hidden {
    opacity: 0;

    .blockquoteFont {
      font-size: clamp(0.5rem, -0.875rem + 8.333vw, 2rem);
    }
  }
}
.hidden {
  opacity: 0;
}
